.appointment-scroll {
  overflow: auto;
  height: 100vh;
}

#first-card {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-primary-appointment {
  border-radius: 16px;
  background: #1C737B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 5vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 10px auto;
  border: 0px;
}


h2.icon-appointment {
  color: #33B9C7;
  font-family: noto sans;
  font-size: 56px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 14px;
  text-align: center;
}

#hospital-appointment {
  color: #33B9C7;
  font-family: noto sans;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 14px;
  text-align: center;
}

h3.h3-appointment {
  color: #1C737B;
  font-family: noto sans;
  font-size: 24px;
  font-weight: 700;
}

h3.time-appointment {
  color: white;
  font-family: noto sans;
  font-size: 28px;
  font-weight: 700;
}

#patient {
  color: #1C737B;
}

#you {
  color: #33B9C7;
}

#icons {
  padding-top: 5px;
}

#time-header {
  background-color: #1C737B;
  width: 100%;
  border-radius: 16px 16px 0 0;
  padding-top: 5px;
}

#time-value {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(52, 62, 69, 0.25);
  width: 100%;
  border-radius: 0 0 16px 16px;
  background-color: white;
  justify-content: center;
}

.no-padding {
  padding: 0;
}

h3.time {
  font-size: 32px;
  color: rgba(52, 62, 69, 1);
  padding-top: 5px;
}

#waiting-list-card {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: rgba(52, 62, 69, 1);
  border-width: 1px;
  border-style: solid;
  width: 90%;
  height: 90%;
  border-radius: 16px;
  height: 18vh;
  overflow:scroll;
  overflow-x:hidden;
}

#line {
  border-top: rgba(52, 62, 69, 1);
  border-bottom: rgba(52, 62, 69, 1);
  border-style: solid;
  border-width: 1px;
}

p.entry {
  margin-top: 8px;
  margin-bottom: 8px;
}

.float-container {
  width: 100%;
}

.modal-body {
  font-size: 20;
}

.h1-modal {
  font-size: 28px;
}

.h2-modal {
  font-size: 24px;
}

#modal-button {
  display: none;
}

.btn-invisible {
  background: transparent; /* Make the background transparent */
  border: none; /* Remove any borders */
  color: transparent; /* Make the text (if any) transparent */
  width: 200px; /* Ensure it takes up the full width of its parent */
  height: 15px; /* Ensure it takes up the full height of its parent */
  display: block; /* Make it a block-level element to occupy its parent container */
  opacity: 0; /* Make it fully transparent */
  pointer-events: auto; /* Ensure the button remains clickable */
}
