// Specific CSS for your home-page
.img-homepage {
  width: auto;
  height: 500px;
  // position: absolute;
  // top: 48%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  opacity: 0.7;
  z-index: 0;
}

.background {
    // background-image: url('/app/assets/images/attenteurgence.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Ajout pour éviter les répétitions */
    background-position: center; /* Centrage */
    width: 100vw;
}

.btn-primary-home {
  border-radius: 16px;
  background: #1C737B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 5vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 10px auto;
}

.form-container-home {
  margin-top: -100px;
  z-index: 100;
  position: relative;
  font-family: noto sans;
}

.btn-form-home {
  justify-content: center;
}

.center-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

.center-field {
  margin-left: 80px;
  margin-right: 80px;
}

.center-form input[type="text"] {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.center-form select {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  color: #757575; /* Ajustez cette couleur selon vos besoins */
  font-size: 16px; /* Ajustez cette taille selon vos besoins */
  background-color: white;
  appearance: none; /* Pour enlever les styles par défaut des navigateurs */
  -webkit-appearance: none; /* Pour Safari */
  -moz-appearance: none; /* Pour Firefox */
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.center-form select:focus {
  outline: none;
  border-color: #757575;
}

.center-form .dropdown::after {
  // content: '\25BC'; /* Unicode pour la flèche vers le bas */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #757575;
}

.center-form select option {
  color: #757575; /* Ajustez cette couleur selon vos besoins */
}
