// Do not change the classes below as they are used in the application

.main-container-pixel7 {
  height: 100vh;
  width: 100vw;
  font-family: noto sans;

}

.main-container-content {
  padding: 15px;

}

h1 {
  color: #1C737B;
  font-family: noto sans;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
}


h2 {
  color: #1C737B;
  font-family: noto sans;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 14px;
  text-align: center;
}

h3 {
  color: #1C737B;
  font-family: noto sans;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

h4 {
  color: #FFF;
  font-family: noto sans;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: #343E45;
  font-family: noto sans;
}

.hopital-details .img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
}

.btn-primary{
  border-radius: 16px;
  background: #1C737B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 5vh;
  width: 10vw;
  padding: 31px 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 10px;
  border: 0px;
}

.btn-secondary{
  border-radius: 25px;
  background:#33B9C7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 96px;
  height: 5px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: semi-bold;
  color: white;
  text-decoration: none;
  margin: 10px;
  border: 0px;
}


.btn-third{
  border-radius: 16px;
  background:#33B9C7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 96px;
  height: 16px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: semi-bold;
  color: white;
  text-decoration: none;
  margin: 10px;
  border: 0px;
}




.cards-hospital {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 80vw;
  margin: 0 auto;

}


.card-category-hospital {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.25)inset;
  border-radius: 16px;
  border: 0px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-hospital {
    grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-hospital {
    grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-hospital {
    grid-template-rows: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-hospital {
    grid-template-rows: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-hospital {
    grid-template-rows: 1fr 1fr 1fr;
  }
}


// ADD NEW CLASSES HERE :
.btn-specialty-1{
  border-radius: 25px;
  background:#DAFBFF;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 120px;
  height: 28px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: 700;
  color: #1C737B;
  font-size: 12px;
  text-decoration: none;
  margin: 10px;
}
.btn-specialty-2{
  border-radius: 25px;
  background:#FFCBD3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 120px;
  height: 28px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: 700;
  color: #1C737B;
  font-size: 12px;
  text-decoration: none;
  margin: 10px;
}
.btn-specialty-3{
  border-radius: 25px;
  background:#E9FFDA;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 120px;
  height: 28px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: 700;
  color: #1C737B;
  font-size: 12px;
  text-decoration: none;
  margin: 10px;
}
.btn-specialty-4{
  border-radius: 25px;
  background:#FFD2FC;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 120px;
  height: 28px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: 700;
  color: #1C737B;
  font-size: 12px;
  text-decoration: none;
  margin: 10px;
}



.specialities{
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-content: space-around;
  align-items : center;
}

.align-categories {
  align-self : center;
  justify-self: center;
}

.card-category-alert{
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 16px;

}

.icon-big{
  color:#1C737B;
  font-size: 57px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.small-icon{
  color:#1C737B;
  font-size: 28px;
  padding-right: 14px;
  align-items: center;
  display: flex;
}

.img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 4px;
}
.img-qrcode{
  width: 100%;
  background-image: cover;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 4px;
  background-color: #FFF;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.btn-third-big{
  border-radius: 16px;
  background:#33B9C7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  // width: 277px;
  height: 52px;
  width: 100%;
  // height: auto;
  display: flex;
  padding: 4px;
  // padding: 26px 112px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: semi-bold;
  color: white;
  text-decoration: none;
  margin: 10px;
}

// footer layout
.footer-space {
  height: 80px;
}


// hospital card new
.btn-primary-home-new {
  border-radius: 16px;
  background: #1C737B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 5vh;
  width: 35vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 10px auto;
  border: 0px;
}

.btn-secondary-home-new {
  border-radius: 16px;
  background: #33B9C7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 5vh;
  width: 35vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 10px auto;
  border: 0px;
}

.no-padding {
  padding: 0;
}

.card-category-hospital-new {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.25)inset;
  border-radius: 16px;
  border: 0px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 20px 20px 20px;
  width: 90%;
  overflow: hidden;
}

.h2-new {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: left;
  justify-content: left;
  margin: 0px;
}

.padding-card {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 0px;
}

.icons-new {
  flex: 50%;
}

.card-width {
  padding-top: 18px;
  width: 70%;
}

.icon-size {
  margin-bottom: 8px;
}

.img-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 4px;
  overflow: hidden;
  max-height: 100%;
  border-radius: 16px 16px 0px 0px;
  padding: 0px;
}

.buttons-card {
  margin: 0 12px 0 12px;
}

.address-card {
  padding-left: 5px;
  margin-right: 8px;
}

.btn-forth{
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  background:#1C737B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  height: 16px;
  padding: 20px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: noto sans;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  // margin-right: 10px;
  border: 0px;
  // padding-left: 8px
}
