<div class="footer" data-controller="footer" data-footer-target="footer">
  <div class="footer-links">
    <a href="/">
      <i class="fa-solid fa-house"></i>
      <p class="footer-paragraph">Accueil</p>
    </a>
    <a href="#">
      <i class="fa-solid fa-user"></i>
      <p class="footer-paragraph">Profil</p>
    </a>
    <a href="/hospitals">
      <i class="fa-solid fa-hospital"></i>
      <p class="footer-paragraph">Hopitaux</p>
    </a>
    <a href="#">
      <i class="fa-solid fa-list"></i>
      <p class="footer-paragraph">Détails</p>
    </a>
  </div>
</div>
