  <h1>AttenteUrgence</h1>

    <div class="background">
    <!-- contient l'image de fond -->
    </div>


<div class="form-container-home">
  <%= form_with url: hospitals_path, method: :get, local: true, html: { class: "center-form center-field" } do %>
    <!-- Dropdown pour filtrer par catégorie -->
    <div class="center-form dropdown">
      <%= select_tag :category, options_for_select([['Catégorie', '']] +
        ['Cardiologie', 'Pneumologie', 'Traumatologie', 'Neurologie',
         'Gastroentérologie', 'Pédiatrie', 'Gynécologie', 'Psychiatrie']
        .map { |c| [c, c] }, params[:category]),
        id: 'categories', class: 'form-select' %>
    </div>

    <!-- Champ texte pour filtrer par adresse -->
    <div class="center-form">
      <label for="adresse"></label>
      <%= text_field_tag :address, params[:address], id: 'adresse', placeholder: 'Adresse', class: 'form-control' %>
    </div>

    <!-- Bouton de recherche -->
    <div class="btn-form-home">
      <%= submit_tag 'Rechercher', class: "btn-primary-home" %>
    </div>
  <% end %>
</div>
