.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 10px 50px;
  color: black;
  position: sticky;

}
.footer-links {
  color:black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
p.footer-paragraph{
  font-size: 8px;
}
.fa-solid {
  color:black;
}
