.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.cards-hospital {
  margin-bottom: 20px; /* Add some space between cards */
}

.map-container {
  padding: 0px 24px;

}
.btn-container {
  width: 80%;
}
