<div class= "main-container-pixel17 main container-content">
  <div class= "cards-hospital">
    <div class= "card-category-alert " >
      <p><i class="fa-sharp fa-solid fa-circle-check icon-big"></i></p>
      <h1>Vous allez être pris en charge </h1>
    </div>
  </div>

  <div class= "cards-hospital">
    <div class= "card-category-alert" >
      <h2> Veuillez présenter ce QR code au secrétariat dès votre arrivée. Activez vos notifications...</h2>
    </div>
  </div>

  <div class= "cards-hospital">
    <div class= "card-category-alert img">
      <%= image_tag 'Hospital-pix/qr-code.png', alt: 'Qr code', class: "img" %>
    </div>
  </div>

  <div class= "cards-hospital ">
    <div class= "card-category-alert">
      <div class="d-flex justify-content-around">
        <%= link_to "Confirmation", appointment_path(@appointment),
          data: {turbo_method: :delete, turbo_confirm: "Avez-vous déjà été pris en charge ?"}, class: "btn-third img h4" %>
      </div>
    </div>
  </div>
</div>
