<div class= "main-container-pixel17 main container-content">
  <div class= "cards-hospital">
    <div class= "card-category-alert " >
      <p><i class="fa-sharp fa-solid fa-circle-check icon-big"></i></p>
      <h1>Vous allez être pris en charge </h1>
    </div>
  </div>

  <div class= "cards-hospital">
    <div class= "card-category-alert" >
      <h2> Veuillez présenter ce QR code au secrétariat dès votre arrivée. Activez vos notifications...</h2>
    </div>
  </div>


  <div class= "cards-hospital">
    <div class= "card-category-hospital img-qrcode">
        <div class="container my-5 ">
                <%= @svg.html_safe %>
     </div>

    </div>
  </div>

  
</div>
